In [14]:
import pandas as pd 
from scipy import stats
import numpy as np

In [15]:
df = pd.read_csv('../data/clean_city_temp.csv')
df.head()

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [12]:
print()

In [16]:
df_copy = df.copy()

In [4]:
df_copy['State'] = df_copy['State'].fillna('')
df_copy.head()

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria        Algiers      1    1  1995            64.2
1  Africa  Algeria        Algiers      1    2  1995            49.4
2  Africa  Algeria        Algiers      1    3  1995            48.8
3  Africa  Algeria        Algiers      1    4  1995            46.4
4  Africa  Algeria        Algiers      1    5  1995            47.9

In [17]:
df_copy = df_copy[df_copy['AvgTemperature']>-80]

In [5]:
df_copy.isna().sum()

Region            0
Country           0
State             0
City              0
Month             0
Day               0
Year              0
AvgTemperature    0
dtype: int64

In [6]:
df_copy.to_csv('../data/clean_city_temp.csv', index=False)